[user]
	email = joetoth@google.com
	name = Joe Toth
[status]
  relativePaths = true
#[pager]
#	diff = diff-so-fancy | less --tabs=4 -RFX
#	show = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = simple
[http]
	cookiefile = /usr/local/google/home/joetoth/.gitcookies
