[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug.git
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "puppylv"]
	path = puppylv
	url = git@github.com:joetoth/puppy.lv.git
[submodule "joetoth.com"]
	path = joetoth.com
	url = git@github.com:joetoth/joetoth.com.git
